/* 
  Comment 1: Lab 3 CSS Stylesheet
*/


/*---Colors Issue---*/

/* Named color example */
h1 {
    color: orange;
}
  
/* RGB example*/
h2 {
    color: rgb(109, 0, 128); 
}
  
/* RGBA example (light red) */
section:nth-of-type(5) {
    background-color: rgba(238, 100, 100, 0.1); 
}
  
/* Hex code example */
section:nth-of-type(3) {
    background-color: #f0f0f0;
}
  
/* HSL example */
form {
    background-color: hsl(200, 70%, 90%);
}
  
/* color-mix example (nav bar) */
nav {
    background-color: color-mix(in srgb, teal 60%, white 40%);
}
  
/* Wide-gamut color example */
footer p {
    color: color(display-p3 0.8 0.2 0.4);
}
  
/* CSS variable with fallback example */
:root {
    --main-bg: #e6ffe6;
}
  
body {
    background-color: var(--main-bg, lightgreen);
}

/* ---Units/Selectors Issue--- */

/* (em) relative unit */
.agenda-title {
    font-size: 1.5em;
}
  
/* (rem) relative unit */
.agenda-section {
    padding: 1rem;
}
  
/* (%) relative unit */
img {
    width: 80%;
}
  
/* (px) absolute unit */
li {
    margin-bottom: 16px;
}
  
/* (pt) absolute unit */
button {
    font-size: 12pt;
}
  
/* (cm) absoulute unit */
#media-section {
    margin-top: 2cm;
}
  
/* Universal selector */
* {
    box-sizing: border-box;
    font-family: sans-serif;
}
  
/* Combined selector */
h2.agenda-title {
    text-decoration: underline;
}
  
  
  